<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Iteck Multi-Purpose themeforest" />
    <meta name="description" content="Iteck - Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />
    <meta name="robots" content="noindex,nofollow">

    <!-- Title  -->
    <title>Newzin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/fav.png" title="Favicon" sizes="16x16" />

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/css/lib/bootstrap.min.css">

    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- ionicons icons  -->
    <link rel="stylesheet" href="~/css/lib/ionicons.css">
    <!-- line-awesome icons  -->
    <link rel="stylesheet" href="~/css/lib/line-awesome.css">
    <!-- animate css  -->
    <link rel="stylesheet" href="~/css/lib/animate.css" />
    <!-- fancybox popup  -->
    <link rel="stylesheet" href="~/css/lib/jquery.fancybox.css" />
    <!-- lity popup  -->
    <link rel="stylesheet" href="~/css/lib/lity.css" />
    <!-- swiper slider  -->
    <link rel="stylesheet" href="~/css/lib/swiper.min.css" />

    <!-- ====== main style ====== -->
    <link rel="stylesheet" href="~/css/style.css" />
    <title> Newzin </title>
</head>

<body class="@ViewData["ClassName"]">

    <!-- ====== start loading page ====== -->
    <div class="loading-page style1">
        <div class="lad-cont">
            <h2 class="loading loading01">
                <span>.</span>
                <span>k</span>
                <span>e</span>
                <span>r</span>
                <span>e</span>
                <span>s</span>
                <span>t</span>
                <span>e</span>
            </h2>
            <small class="loading loading01">
                <span>d</span>
                <span>e</span>
                <span>r</span>
                <span>g</span>
                <span>i</span>
            </small>
        </div>
    </div>
    <!-- ====== end loading page ====== -->
    <!-- ====== start navbar-container ====== -->
    <div class="navbar-container">
        <div class="container">
            <!-- ====== start top navbar ====== -->
            <div class="top-navbar style-1">
                <div class="container p-0">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="date-weather mb-3 mb-lg-0">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="item">
                                            <div class="icon me-3 pt-1">
                                                <i class="la la-calendar"></i>
                                            </div>
                                            <div class="inf">
                                                <strong>@DateTime.Now.ToString("dddd")</strong>
                                                <p>@DateTime.Now.Date.ToShortDateString()</p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <a href="#" class="logo-brand d-none d-lg-block">
                                <img src="~/img/logo_home1.png" alt="" class="dark-none">
                                <img src="~/img/logo_home1_lt.png" alt="" class="light-none">
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <div class="sub-darkLight">
                                <div class="row text-end align-items-center">
                                    <div class="col-6">
                                        <a href="#0"
                                           class="text-uppercase fs-6 border-bottom border-1 border-dark subs">
                                            <i class="la la-envelope fs-5 me-1"></i>
                                            BÜLTEN
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <div class="darkLight-btn">
                                            <span class="icon active" id="light-icon">
                                                <i class="la la-sun"></i>
                                            </span>
                                            <span class="icon" id="dark-icon">
                                                <i class="la la-moon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-subs-card">
                                    <p class="fsz-16px text-uppercase mb-20"> Bülten </p>
                                    <div class="sub-form">
                                        <div class="form-group">
                                            <span class="icon">
                                                <i class="la la-envelope"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="email adresi">
                                            <button>abone ol</button>
                                        </div>
                                        <p class="mt-3 color-666 fsz-12px fst-italic">
                                            Bültene abone olup
                                            gelişmelerden haberdar olabilirsin. <a href="#0"
                                                   class="color-777 text-decoration-underline fst-normal">Çerez Politikası</a>
                                        </p>
                                    </div>
                                    <span class="cls"> <i class="la la-times"></i> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ====== end top navbar ====== -->
            <!-- ====== start navbar ====== -->
            <nav class="navbar navbar-expand-lg navbar-light style-1">
                <div class="container p-0">
                    <div class="mob-nav-toggles d-flex align-items-center justify-content-between">
                        <button class="navbarList-icon me-lg-5" data-bs-toggle="offcanvas" href="#offcanvasExample"
                                role="button" aria-controls="offcanvasExample">
                            <span></span>
                            <span></span>
                        </button>
                        <a href="#" class="logo-brand d-block d-lg-none w-50 my-4">
                            <img src="~/img/logo_home1.png" alt="" class="dark-none">
                            <img src="~/img/logo_home1_lt.png" alt="" class="light-none">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link active" href="@Url.Action("Index","Home")">
                                    Anasayfa
                                </a>
                               @*  <ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
                                    <li><a class="dropdown-item" href="home-default.html">home default</a></li>
                                    <li><a class="dropdown-item" href="home-technology.html">home techonology</a></li>
                                    <li><a class="dropdown-item" href="home-gaming.html">home gaming</a></li>
                                    <li><a class="dropdown-item" href="home-food.html">home food</a></li>
                                    <li><a class="dropdown-item" href="home-bussiness.html">home bussiness</a></li>
                                    <li><a class="dropdown-item" href="home-politic.html">home politic</a></li>
                                    <li><a class="dropdown-item" href="home-nft.html">home NFT</a></li>
                                    <li><a class="dropdown-item" href="home-sport.html">home sport</a></li>
                                    <li><a class="dropdown-item" href="home-cars.html">home cars</a></li>
                                    <li><a class="dropdown-item" href="home-10.html">original</a></li>
                                    <li><a class="dropdown-item" href="rtl-home-sport.html">home sport RTL</a></li>
                                </ul> *@
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Kategoriler
                                </a>
                                <ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
                                    <li><a class="dropdown-item" href="/siir/">Şiir</a></li>
                                    <li><a class="dropdown-item" href="/yasam/">Yaşam</a></li>
                                    <li><a class="dropdown-item" href="/oyku/">Öykü</a></li>
                                    <li><a class="dropdown-item" href="/deneme/">Deneme</a></li>
                                    <li><a class="dropdown-item" href="/makale/">Makale</a></li>
                                    <li><a class="dropdown-item" href="/inceleme/">İnceleme</a></li>
                                    <li><a class="dropdown-item" href="/soylesi/">Söyleşi</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/kitapsiz-yazar">
                                    kitapsız yazar
                                    <small class="hot">hot</small>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="@Url.Action("About","Home")" >
                                    Hakkımızda
                                </a>
                              @*   <ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
                                    <li>
                                        <a class="dropdown-item" href="page-single-post-creative.html">
                                            single post
                                            creative
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="page-single-post-creative.html">
                                            single post
                                            features
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="rtl-page-single-post-creative.html">
                                            single post
                                            creative RTL
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="rtl-page-single-post-features.html">
                                            single post
                                            features RTL
                                        </a>
                                    </li>
                                </ul> *@
                            </li>
                         

                           
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Team","Home")">
                                    dergi ekibi
                                </a>
                            </li>
                        </ul>
                        <div class="nav-side">
                            @* <a href="#" class="icon-link">
                                <i class="la la-user fs-4"></i>
                            </a>
                            <a href="#" class="icon-link noti-dot">
                                <i class="la la-shopping-bag fs-4"></i>
                            </a> *@
                            <a href="#" class="icon-link search-btn-style1">
                                <i class="la la-search fs-4 sOpen-btn"></i>
                                <i class="la la-close fs-4 sClose-btn"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- ====== end navbar ====== -->
            <!-- ====== start nav-search ====== -->
            <div class="nav-search-style1">
                <div class="row justify-content-center align-items-center gx-lg-5">
                    <div class="col-lg-4">
                       @*  <div class="info">
                            <h5> you can search by category <br> or news title </h5>
                        </div> *@
                    </div>
                    <div class="col-lg-12">
                        <form class="form">
@*                             <span class="color-777 fst-italic text-capitalize mb-2 fsz-13px">Enter Keyword</span> *@
                            <div class="form-group">
                                <span class="icon">
                                    <i class="la la-search"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="arama için yazın.. ">
                                <button type="submit">ara</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ====== end nav-search ====== -->
        </div>
    </div>

    <div class="offcanvas offcanvas-start sidebar-popup-style1" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="visibility: visible;" aria-modal="true" role="dialog">
        <div class="offcanvas-header">
            <div class="logo">
                <img src="./img/logo_home4.png" alt="" class="dark-none">
                <img src="./img/logo_home4_lt.png" alt="" class="light-none">
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mt-4">
            <h6 class="color-000 text-uppercase mb-15 ltspc-1"> about us <i class="la la-angle-right ms-1"></i> </h6>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem optio tempora quia iure quae. Soluta corporis quidem aperiam amet nihil.
            </div>

            <div class="sidebar-categories mt-40">
                <h6 class="color-000 text-uppercase mb-30 ltspc-1"> categories <i class="la la-angle-right ms-1"></i> </h6>
                <a href="#" class="cat-card">
                    <div class="img img-cover">
                        <img src="./img/bussines/1.png" alt="">
                    </div>
                    <div class="info">
                        <h5>bussines</h5>
                        <span class="num">12</span>
                    </div>
                </a>
                <a href="#" class="cat-card">
                    <div class="img img-cover">
                        <img src="./img/trend/3.png" alt="">
                    </div>
                    <div class="info">
                        <h5>technology</h5>
                        <span class="num">14</span>
                    </div>
                </a>
                <a href="#" class="cat-card">
                    <div class="img img-cover">
                        <img src="./img/must_read/3.png" alt="">
                    </div>
                    <div class="info">
                        <h5>culture</h5>
                        <span class="num">20</span>
                    </div>
                </a>
                <a href="#" class="cat-card">
                    <div class="img img-cover">
                        <img src="./img/videos/1.png" alt="">
                    </div>
                    <div class="info">
                        <h5>videos</h5>
                        <span class="num">14</span>
                    </div>
                </a>
            </div>
            <div class="sidebar-contact-info mt-50">
                <h6 class="color-000 text-uppercase mb-20 ltspc-1"> Contact &amp; follow <i class="la la-angle-right ms-1"></i> </h6>
                <ul class="m-0">
                    <li class="mb-3">
                        <i class="las la-map-marker me-2 color-main fs-5"></i>
                        <a href="#">streat name 12, hollywood City, USA</a>
                    </li>
                    <li class="mb-3">
                        <i class="las la-envelope me-2 color-main fs-5"></i>
                        <a href="#">Newzin@gmail.com</a>
                    </li>
                    <li class="mb-3">
                        <i class="las la-phone-volume me-2 color-main fs-5"></i>
                        <a href="#">+12 123 456 789</a>
                    </li>
                </ul>
                <div class="social-links">
                    <a href="#">
                        <i class="la la-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="la la-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="la la-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="la la-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="la la-spotify"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ====== start navbar-container ====== -->
    <!--Contents-->
    <main>

       @RenderBody()
    </main>
    <!--End-Contents-->
    <!-- ====== start footer ====== -->
    <footer class="footer-style4">
        <div class="container">
            <div class="content pt-80 pb-80 border-1 border-top brd-gray text-center">
                <p class="color-000 text-uppercase mb-40 ltspc-1 fw-bold">@@Newzin.food on instagram</p>
                <div class="insta-imgs">
                    <div class="row gx-2">
                        <div class="col-lg-2 col-6">
                            <a href="./img/instagram/7.png" class="img img-cover" data-fancybox="insta">
                                <img src="/img/instagram/7.png" alt="">
                                <span class="icon">
                                    <i class="la la-instagram"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-6">
                            <a href="./img/instagram/8.png" class="img img-cover" data-fancybox="insta">
                                <img src="/img/instagram/8.png" alt="">
                                <span class="icon">
                                    <i class="la la-instagram"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-6">
                            <a href="./img/instagram/9.png" class="img img-cover" data-fancybox="insta">
                                <img src="/img/instagram/9.png" alt="">
                                <span class="icon">
                                    <i class="la la-instagram"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-6">
                            <a href="./img/instagram/10.png" class="img img-cover" data-fancybox="insta">
                                <img src="/img/instagram/10.png" alt="">
                                <span class="icon">
                                    <i class="la la-instagram"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-6">
                            <a href="./img/instagram/11.png" class="img img-cover" data-fancybox="insta">
                                <img src="/img/instagram/11.png" alt="">
                                <span class="icon">
                                    <i class="la la-instagram"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-6">
                            <a href="./img/instagram/12.png" class="img img-cover" data-fancybox="insta">
                                <img src="/img/instagram/12.png" alt="">
                                <span class="icon">
                                    <i class="la la-instagram"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="foot-links mt-80">
                    <a href="#">Receipes</a>
                    <a href="#">Cuisine</a>
                    <a href="#">Restaurant</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a href="#">policy</a>
                </div>
                <div class="foot-social mt-40">
                    <a href="#">
                        <i class="la la-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="la la-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="la la-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="la la-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="la la-spotify"></i>
                    </a>
                </div>
                <p class="fsz-14px color-666 mt-40">© 2023 Copyrights by <a href="#" class="color-000 fw-bold">Newzin</a>. All Rights Reserved.</p>
            </div>
        </div>
        <!-- ====== start to top button ====== -->
        <a href="#" class="to_top show">
            <i class="la la-angle-up"></i>
        </a>
        <!-- ====== end to top button ====== -->
    </footer>
    <!-- ====== end footer ====== -->
    <!-- ====== start to top button ====== -->
    <!-- <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 220.587;"></path></svg>
    </div> -->
    <!-- ====== end to top button ====== -->
    <!-- ====== request ====== -->
    <script src="~/js/lib/jquery-3.0.0.min.js"></script>
    <script src="~/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/js/lib/wow.min.js"></script>
    <script src="~/js/lib/jquery.fancybox.js"></script>
    <script src="~/js/lib/lity.js"></script>
    <script src="~/js/lib/swiper.min.js"></script>
    <script src="~/js/lib/jquery.waypoints.min.js"></script>
    <script src="~/js/lib/jquery.counterup.js"></script>
    <!-- <script src="~/js/lib/pace.js"></script> -->
    <script src="~/js/lib/back-to-top.js"></script>
    <script src="~/js/lib/parallaxie.js"></script>
    <script src="~/js/main.js"></script>
  @RenderBody()

</body>

</html>