@model Kereste.CORE.Models.CategoryModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tc-blog-nav-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="info">
                    <h2>@Model.Category.categoryName</h2>
                 
                </div>
            </div>
            
        </div>
    </div>
</div>


<section class="tc-popular-posts-blog">
    <div class="container">
        
        <div class="content-widgets pt-50 pb-50">
            <div class="row">
                <div class="col-lg-9">
                    <div class="tc-post-list-style3">
                        <div class="items">
                            @foreach (var item in Model.NewsList)
                            {
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="img th-230 img-cover overflow-hidden">
                                                <img src="@item.HeadImage" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="content mt-20 mt-lg-0">
                                                <a href="#"
                                                   class="color-999 fsz-13px text-uppercase mb-10">@item.Category.Name</a>
                                                <h4 class="title mb-15">
                                                    <a href="@Url.Action("Details","Content",new{categoryName = item.Category.SelfLink,selfLink = item.SelfLink,id= item.NewsID})">
                                                       @item.Title
                                                    </a>
                                                </h4>
                                                <div class="text color-666">
                                                  @item.Spot
                                                </div>
                                                <div class="meta-bot fsz-13px color-666">
                                                    <ul class="d-flex">
                                                        <li class="date me-5">
                                                            <a href="#">
                                                                <i class="la la-calendar me-2"></i> @item.PublishDate
                                                            </a>
                                                        </li>
                                                        <li class="author me-5">
                                                            <a href="#">
                                                                <i class="la la-user me-2"></i> editör <span class="color-000">@item.User.NameSurname</span>
                                                            </a>
                                                        </li>
                                                       @*  <li class="comment">
                                                            <a href="#">
                                                                <i class="la la-comment me-2"></i> 0
                                                                Comments
                                                            </a>
                                                        </li> *@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            
                        </div>
                    </div>
                 
                    <div class="pagination style-1 color-main justify-content-center mt-60">
                        <a href="#" class="active">
                            <span>1</span>
                        </a>
                        <a href="#">
                            <span>2</span>
                        </a>
                        <a href="#">
                            <span>3</span>
                        </a>
                        <a href="#">
                            <span>4</span>
                        </a>
                        <a href="#">
                            <span>...</span>
                        </a>
                        <a href="#">
                            <span>20</span>
                        </a>
                        <a href="#">
                            <span class="text text-uppercase">next <i class="la la-angle-right"></i> </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widgets-sticky mt-5 mt-lg-0">
                        <p class="color-000 text-uppercase mb-30"> Stay Connected </p>
                        <!-- widget-social -->
                        <div class="tc-widget-social-style5 mb-40">
                            <a href="#" class="social-card">
                                <div class="icon facebook-icon">
                                    <i class="lab la-facebook-f"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">575,5</b>K</strong>
                                    <span>Followers</span>
                                </div>
                            </a>
                            <a href="#" class="social-card">
                                <div class="icon twitter-icon">
                                    <i class="lab la-twitter"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">215,5</b>K</strong>
                                    <span>Followers</span>
                                </div>
                            </a>
                            <a href="#" class="social-card">
                                <div class="icon insta-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">98,5</b>K</strong>
                                    <span>Followers</span>
                                </div>
                            </a>
                            <a href="#" class="social-card border-0 pb-0">
                                <div class="icon youtube-icon">
                                    <i class="lab la-youtube"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">24,2</b>K</strong>
                                    <span>Subscriber</span>
                                </div>
                            </a>
                        </div>

                        <!-- widget-trends -->
                        <div class="tc-trending-news-style5 border border-1 brd-gray mb-40">
                            <p class="color-000 text-uppercase p-15">çok okunanlar</p>
                            <div class="tc-post-list-style1">
                                @foreach (var item in Model.MostPopularNews.Take(1))
                                {
                                    <div class="tc-post-overlay-default">
                                        <div class="img th-200 img-cover">
                                            <img src="@item.HeadImage" alt="">
                                        </div>
                                        <div class="content ps-20 pe-20 pb-20 text-white">
                                            <a href="/@item.Category.SelfLink" class="text-uppercase fsz-13px mb-1">@item.Category.Name</a>
                                            <h4 class="title">
                                                <a href="@Url.Action("Details","Content",new{categoryName = item.Category.SelfLink,selfLink = item.SelfLink,id= item.NewsID})">@item.Title</a>
                                            </h4>
                                        </div>
                                    </div>
                                }
                              
                                <div class="items px-4 py-2">
                                    @{
                                        int count = 2;
                                        foreach (var item in Model.MostPopularNews.Skip(1))
                                        {
                                            <div class="item">
                                                <h2 class="num">
                                                    @count
                                                </h2>
                                                <div class="content">
                                                    <a href="@item.Category.SelfLink" class="color-999 fsz-12px text-uppercase mb-1">@item.Category.Name</a>
                                                    <h6 class="title fsz-16px fw-bold ltspc--1 hover-main">
                                                        <a href="@Url.Action("Details","Content",new{categoryName = item.Category.SelfLink,selfLink = item.SelfLink,id= item.NewsID})" class="">@item.Title</a>
                                                    </h6>
                                                </div>
                                            </div>
                                            count++;
                                        }
                                    }
                                    
                                  
                                  
                                    
                                </div>
                            </div>
                        </div>
                       
                     
                     

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>